@font-face{
	font-family: 'TabarraBold';
	src: url('../fonts/Tabarra_Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'Roboto-Slab';
	src: url('../fonts/RobotoSlab.ttf') format('truetype');
}

*{
	box-sizing: border-box;
	letter-spacing: 0.5px;
}

body{
	margin: 0;
	font-family: 'Roboto-Slab';
	color: #3E3623;
	background-image: url(../img/fond1.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

/*--------------------header--------------------*/
header{
	background-color: rgba(62, 62, 62, 0.9);
	padding: 80px 120px 50px 120px;
	text-align: center;
}

header p{
	color: white;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 1px;
}

i.fas.fa-utensils::before{ /*svg*/
	margin-right: 40px;
}

p.title-tp{
	font-size: 2em;
	font-weight: bold;
}

button{
	border: none;
	background-color: #FFF;
	width: 160px;
	height: 40px;
	font-size: 1em;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 40px;
	padding: 5px 10px;
	margin-bottom: 20px;
	transition: 0.3s;
	letter-spacing: 0.5px;
	font-family: 'Roboto-Slab';
	color: rgba(48, 48, 48, 0.97);
}

button:hover{
	background-color: #57CFB0;
	cursor: pointer;
}

/*--------------------titles--------------------*/
h1{
	margin: 0;
	font-family: 'TabarraBold';
	color: #fff;
	text-shadow: 0 10px 10px 50px black;
	text-align: center;
	font-size: 3.5em;
	letter-spacing: 5px;
}

h2{
	color: white;
	font-family: 'TabarraBold';
	font-size: 3em;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h3{
	font-size: 2em;
}

td.h3{
	background-color: rgba(48, 48, 48, 0.97);
	border: none;
}

h3.statglobales{
	margin: 30px 0;
	color: white;
}

h2, h3{
	text-align: center;
}

/*--------------------sections--------------------*/
div{
	padding: 50px 50px;
}

div:nth-child(2){
	background-color: rgba(140, 200, 170, 0.9);
}

/*--------------------tables--------------------*/

/*style général*/
table{
	border-spacing: 0;
	margin: 0 auto;
	font-size: 0.9em;
}

table td, th{
	padding: 10px 10px;
	border: 1px solid #D7E9E1;
}

table th{
	background-color: rgba(67, 62, 62, 0.97);
	color: white;
	border: 1px solid #2E303D;
}

table tr:nth-child(2n){
	background-color: rgba(255, 255, 255, 0.97);
}

table tr:nth-child(2n+1){
	background-color: rgba(234, 249, 246, 0.97);
}

table td:last-child{
	text-align: center;
}

table span.result{
	font-weight: bold;
	text-align: center;
}

/*tableau 1 : stats globales*/
table:first-child{
	width: 1200px;
	font-size: 0.9em;
}

table th.stats{
	background-color: rgba(48, 48, 48, 0.97);
	color: white;
	border: 1px solid #2E303D;
}

td.date{
	text-align: center;
}

td.fusion{
	font-size: 1.8em;
	text-align: center;
}

table:first-child td:nth-child(2){
	text-align: center;
}

/*dernier tableau - stats clients*/

table.global{
	text-align: center;
	font-size: 0.8em;
	width: 1200px;
}

table.global h3{
	font-size: 3em;
}